

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: darkgreen;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 520px;
    background: #E3FAEC;
    border: 2px solid rgba(225, 225, 25, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 30px 40px 48px 40px;
}

.wrapper .logo {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 60px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.savyText h1 {
    color: rgb(19, 29, 3);
    font-size: 32px;
    font-family: sans-serif;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: none;
    outline: none;
    border: 2px solid  #59A911;
    border-radius: 15px ;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #BDCBB7;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 35%;
    transform: translate(-50%);
    font-size: 20px;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: darkgreen;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-size: 27px;
    font-weight: 400;
}

/* .orMiddle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.orMiddle hr {
    width: 100%;
    border: none;
    border-top: 1px solid #ccc;
    margin: 0;
}

.orText {
    background-color: #fff;
    padding: 0 10px;
    position: relative;
    top: -10px;
} */

.orMiddle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.orText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.orText::before, .orText::after {
    content: "";
    height: 2px;
    width: 200px;
    column-gap: 0;
    background-color: #333;
    display: block;
}

.wrapper .btnGoogle {
    width: 100%;
    height: 45px;
    background: #333;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-size: 27px;
    font-weight: 00;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p {
    color: #333;
}

.register-link p a {
    color: #333;
    text-decoration: none;
    font-weight: 600;
    margin-left: 10px;
}

.register-link p a:hover {
    text-decoration: underline;
}