

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: darkgreen;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 520px;
    background: #E3FAEC;
    border: 2px solid rgba(225, 225, 25, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 20px 20px 45px 20px;
}

/* .goBack i {
    font-size: 30px;

}

.goBack p{
    bottom: 20px;
} */

.savyText h1 {
    color: rgb(40, 65, 0);
    font-size: 25px;
    font-family: sans-serif;
}

.savyText h3 {
    color: #BDCBB7;
    font-size: 18px;
    font-family: sans-serif;
    padding-top: 13px;
}

.wrapper .logo {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: none;
    outline: none;
    border: 2px solid  #59A911;
    border-radius: 15px ;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}


.input-box input::placeholder {
    color: #BDCBB7;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 35%;
    transform: translate(-50%);
    font-size: 20px;
    color: transparent;
    -webkit-text-stroke: 0.5px #BDCBB7;
}

.wrapper .remember-forget {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forget label {
    color: #BDCBB7;
    font-size: 12px;
    margin-left: 13px;
    bottom: 7px;
}

.remember-forget label span {
    color: #333;
}

/* .remember-forget label .checkbox {
    margin-right: 30px;
    border: 1px solid #59A911;
} */

input[type="checkbox" i] {
    margin-right: 3px;
}

/* .remember-forget label input {
    accent-color: #333;
    margin-right: 3px;
} */

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: darkgreen;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-size: 27px;
    font-weight: 400;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}